<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Graffiti:Marketplace:BaseUrl" value="http://localhost:17374/data"
		     xdt:Transform="SetAttributes(value)"
		     xdt:Locator="Match(key)"
		     />
	</appSettings>
</configuration>
